h1{
    color: rgb(31, 243, 243);
    padding-right: 50px
}
.header *{
    border:solid
}
.header{
    background-color: rgb(255, 255, 255);
    display:flex;
justify-content: space-evenly;

}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
p,h2{
    text-align: center;
    color:white
}

body{
    background-color: #000000;
    background-image: url("image.jpg");
}
a:link{
    color:blue
}
a:visited{
color:blue
}
.item{
    position:relative
}
.item p{
    position: absolute;
   top: 50%;
   left:50%;
   transform:translate(-50%,-50%);
   opacity:0;
}
.item:hover p{
    opacity:1
}
.item:hover img{
    opacity:0.33
}